{% extends '::layout.html.twig' %}
{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="callout callout-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="callout callout-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="add-btn-top-list">
                    <a href="{{ path('app_annonce_new') }}"><button class="btn btn-mini btn-mini-rectif">Créer une nouvelle annonce</button></a>
                    <a href="{{ path('app_categorie_new') }}"><button class="btn btn-mini btn-mini-rectif">Ajouter nouvelle catégorie</button></a>
                </div>

                <div class="box-header">
                    <h3>Liste des annonces</h3>
                    <div class="list-count">
                        <span class="title-count-text"> TOTAL: </span><span class="title-count"></span>
                    </div>
                </div>

                <div class="box-body">

                    <div class="form-group">
                        <label>Filtre par catégorie</label>
                        <select class="form-control" id="selectCategorie">
                            <option value="">--Choisir categorie--</option>
                            {% for categorie in categories %}
                                <option value="{{ categorie.id }}">{{ categorie.name|raw }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <table class="table table-striped table-hover spacer" id="listAnnonce">
                        <thead>
                        <tr>
                            <th>Identifiant</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Prix (&euro;)</th>
                            <th>Photos</th>
                            {% if app.user is defined %}
                                <th>Action</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {

            $.fn.dataTable.ext.legacy.ajax = true;

            // display list all user.
            $('#listAnnonce').DataTable(
                    {
                        "pageLength": 10,
                        "aoColumns": [
                            {"bSortable": true}, {"bSortable": false}, {"bSortable": false}, {"bSortable": false}, {"bSortable": false}, {"bSortable": false}],
                        "order": [[ 0, "desc" ]],
                        "bProcessing": true,
                        "bServerSide": true,
                        "searching": true,
                        "sAjaxSource": "{{path('jolydays_dev4_retrieveCategoriesAjax')}}",
                        "paging": true,
                        "oLanguage": {
                            "sProcessing": "traitement...",
                            "oPaginate": {
                                "sPrevious": "Précédante",
                                "sNext": "Suivante",
                            },
                            "sSearch": "Filtrer: ",
                            "sLengthMenu": "Afficher _MENU_ enregistrement par page",
                            "sEmptyTable": "Aucun(e) annonce trouvé",
                            "sInfo": "Voir _START_ de _END_ à _TOTAL_ enregistrement"
                        },
                        "drawCallback": function(settings) {
                            $('.title-count').html(settings.json.iTotalRecords) ;
                        }
                    });


            $('#selectCategorie').on('change', function () {
                initDatatable() ;
            }) ;

            function initDatatable(){
                var cat = $('#selectCategorie').val() ;
                var  oTable = $('#listAnnonce').dataTable();
                var oSettings = oTable.fnSettings();
                oSettings.sAjaxSource  = "{{path('jolydays_dev4_retrieveCategoriesAjax')}}?sQuery="+cat;

                oTable.fnFilter($('.dataTables_filter input').val());
            }

        });


    </script>
{% endblock %}